<div class="row nav pt-3">
		<div class="left-nav col-6">
			<i class="fas fa-map-signs"></i>
		</div>

		<div class="col-6 right-nav">
			<a class="nav-links px-2" href="#">login</a>
			<a class="nav-links px-2" href="#">sign up</a>
			<a class="nav-links px-2" href="#"><i class="fas fa-search"></i></a>
		</div>	
			
	</div>